.rect {
  width: 100px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 6px 10px;
  color: white;
  font-weight: 700;
  border-radius: 2rem;
}

.node {
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 1rem;
  margin-left: 30px;
  padding: 10px;
  margin-top: 9px;
  display: flex;
  align-items: center;
}

.rootNode {
  align-self: start;
  border: none;
  margin-left: 0;
  padding: 0;
  margin-top: 0;
}

.variantAndQuestion {
  display: flex;
  align-items: center;
  padding: 0;
}

.variant {
  background-color: antiquewhite;
  color: black;
  margin-right: 20px;
  border-radius: 2rem;
  color: black;
  font-weight: 700;
}

.question {
  background-color: rgba(0, 0, 255, 0.616);

}

.root {
  background-color: rgb(0, 0, 134);
}

.leaf {
  background-color: darkseagreen;
}

.selected {
  border-style: solid;
  border-width: 2.5px;
  border-color: red;
  padding: 4px 8px;
}

/* todo design */

.createTree {
  width: 240px;
  padding: 14px 40px;
  background-color: #419152;
  margin-top: 30px;
  font-size: 16px;
}

.createTree:hover:not(:disabled) {
  background-color: #53b166;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

.confirmRow {
  width: 240px;
  padding: 14px 40px;
  font-size: 16px;
  margin-top: 30px;
}

/* todo input file */

.csvFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.csvFile+label {
  width: 160px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-color: #df474b;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 2px red solid;
  transition: all .3s linear;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.csvFile:focus+label,
.csvFile+label:hover {
  background-color: #b3383c;

}

.csvFile+label {
  cursor: pointer;
}

.csvFile:focus+label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.csvFile+label * {
  pointer-events: none;
}