<!DOCTYPE html>
<html>
    <head>
        <title>Генетический алгоритм</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/zero.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mixin.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <button class="btnBack">
                <div class="arrow-left"></div>
                <a href="/">Вернуться</a>
            </button>
            <div class="box">
                <div class="mybox">
                    <div class="left block">
                        <button onmousedown="clearall()" id="ClearButton" class="btn btn-primary">Clear</button>
                        <button id="SolveButton" class="btn" onclick="SolveExchange()">Solve</button>
                    </div>
                    <div class="content block">
                        <canvas id="myCanvas" width="500" height="500" style="border: 1px solid #000000"> </canvas>
                    </div>
                    <div class="right block">
                        <div id="cities">
                            <div class="textToShow">Выбрано городов: <span class="numberToShow" id="number">0</span></div>
                        </div>
                        <div id="bestroot">
                            <div class="textToShow">Лучший путь: <span class="numberToShow" id="root">Не найден...</span></div>
                        </div>
                        <div id="bestdistance">
                            <div class="textToShow">Лучшее расстояние: <span class="numberToShow" id="dist">0</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var canv = document.getElementById('myCanvas')
            var ctx = canv.getContext('2d')
            var cords = []
            var num = document.getElementById('number')
            var answerfield = document.getElementById('root')
            var distfield = document.getElementById('dist')
            var deflt = 0
            canv.addEventListener('mousedown', function (e) {
                num.innerHTML = Number(num.innerHTML) + 1
                ctx.lineWidth = 0.1
                for (var ind = 0; ind < cords.length; ++ind) {
                    ctx.strokeStyle = 'black'
                    ctx.moveTo(cords[ind][0], cords[ind][1])

                    ctx.lineTo(e.clientX - canv.offsetLeft, e.clientY - canv.offsetTop)
                    ctx.stroke()
                }
                ctx.lineTo(e.clientX - canv.offsetLeft, e.clientY - canv.offsetTop)
                ctx.stroke()
                ctx.beginPath()
                ctx.arc(e.clientX - canv.offsetLeft, e.clientY - canv.offsetTop, 8, 0, Math.PI * 2)

                ctx.fill()

                ctx.beginPath()
                ctx.moveTo(e.clientX - canv.offsetLeft, e.clientY - canv.offsetTop)
                cords.push([e.clientX - canv.offsetLeft, e.clientY - canv.offsetTop])
            })

            function clearall() {
                var canvas = document.getElementById('myCanvas')
                var context = canvas.getContext('2d')
                context.clearRect(0, 0, canvas.width, canvas.height)
                cords = []
                num.innerHTML = 0
                distfield.innerHTML = 0
                answerfield.innerHTML = 'Not found'
                ctx.beginPath()
            }

            function SolveExchange() {
                answerfield.innerHTML = 'Сервер думает...'
                distfield.innerHTML = 'Сервер думает...'
                for (var ind = 0; ind < cords.length; ++ind) {
                    for (var inj = 0; inj < cords.length; ++inj) {
                        ctx.strokeStyle = 'white'
                        ctx.moveTo(cords[ind][0], cords[ind][1])
                        ctx.lineWidth = 3
                        ctx.lineTo(cords[inj][0], cords[inj][1])
                        ctx.stroke()
                        ctx.strokeStyle = 'black'
                        ctx.moveTo(cords[ind][0], cords[ind][1])
                        ctx.lineWidth = 1
                        ctx.lineTo(cords[inj][0], cords[inj][1])
                        ctx.stroke()
                    }
                }
                answerfield.innerHTML = 'Идут подсчёты...'
                distfield.innerHTML = 'Идут подсчёты...'
                $.post(
                    '/GetDots',
                    {
                        data: JSON.stringify(cords),
                    },
                    function (data, status, xhr) {
                        var lastroot = data['ans'][data['ans'].length - 1][1]
                        var lastlength = data['ans'][data['ans'].length - 1][0]
                        for (var i = 0; i < data['ans'].length - 1; ++i) {
                            show(data['ans'][i][1], 'red', lastroot, lastlength)
                        }

                        show(data['ans'][data['ans'].length - 1][1], 'green', lastroot, lastlength)
                    }
                )
            }

            async function show(data, color, lastroot, lastlength) {
                await new Promise((resolve, reject) => setTimeout(resolve, 40))
                console.log(data)
                RootCleaner()
                for (var ind = 0; ind < data.length - 1; ++ind) {
                    ctx.beginPath()
                    ctx.moveTo(cords[data[ind] - 1][0], cords[data[ind] - 1][1])
                    ctx.strokeStyle = 'white'
                    ctx.lineWidth = 3
                    ctx.lineTo(cords[data[ind + 1] - 1][0], cords[data[ind + 1] - 1][1])
                    ctx.stroke()
                    ctx.beginPath()
                    ctx.moveTo(cords[data[ind] - 1][0], cords[data[ind] - 1][1])
                    ctx.strokeStyle = color
                    ctx.lineWidth = 3
                    ctx.lineTo(cords[data[ind + 1] - 1][0], cords[data[ind + 1] - 1][1])
                    ctx.stroke()
                }
                if (color == 'green') {
                    answerfield.innerHTML = lastroot
                    distfield.innerHTML = lastlength.toFixed(3)
                }
            }

            function RootCleaner() {
                for (var ind = 0; ind < cords.length; ++ind) {
                    for (var inj = 0; inj < cords.length; ++inj) {
                        ctx.strokeStyle = 'white'
                        ctx.moveTo(cords[ind][0], cords[ind][1])
                        ctx.lineWidth = 3
                        ctx.lineTo(cords[inj][0], cords[inj][1])
                        ctx.stroke()
                        ctx.strokeStyle = 'black'
                        ctx.moveTo(cords[ind][0], cords[ind][1])
                        ctx.lineWidth = 1
                        ctx.lineTo(cords[inj][0], cords[inj][1])
                        ctx.stroke()
                    }
                }
            }
        </script>
    </body>
</html>
