<!DOCTYPE html>
<html>
    <head>
        <title>Генетический алгоритм</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/zero.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mixin.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="headerBox">
                    <div class="menu">
                        <div class="burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <nav class="nav">
                            <ul class="links">
                                <li><a href="http://127.0.0.1:5500" class="link">Главная</a></li>
                                <li><a href="http://127.0.0.1:5500/aStar/bonus.html" class="link">A*</a></li>
                                <li><a href="http://127.0.0.1:5500/tree/bonus.html" class="link">Дерево решений</a></li>
                                <li><a href="http://127.0.0.1:5000" class="link selected">Генетика</a></li>
                                <li><a href="http://127.0.0.1:5500/ant/bonus.html" class="link">Муравьи</a></li>
                                <li><a href="http://127.0.0.1:5000" class="link">Кластеризация</a></li>
                                <li><a href="http://127.0.0.1:5000" class="link">Нейронная сеть</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

            <div class="box">
                <div class="mybox">
                    <div class="left block">
                        <button id="clearButton" class="btn">Clear</button>
                        <button id="solveButton" class="btn">Solve</button>
                    </div>
                    <div class="content block">
                        <canvas></canvas>
                    </div>
                    <div class="right block">
                        <div>
                            <div class="textToShow">Выбрано городов: <span class="numberToShow" id="number">0</span></div>
                        </div>
                        <div>
                            <div class="textToShow">Лучшее расстояние: <span class="numberToShow" id="dist">0</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{url_for('static', filename='js/script.js')}}"></script>
        <script src="{{url_for('static', filename='js/burger.js')}}"></script>
    </body>
</html>
