body {
  background-color: #000000;
  color: white;
}

button {
  color: white;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.top {
  height: 30px;
}

.canvasWrapper {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}