body {
  background-color: black;
  color: white;
}

button {
  color: white;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.canvasWrapper {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

/* new try */

.ant {
  width: 3px;
  height: 3px;
  background-color: red;
  transition: all .3s linear;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
}