body {
  background-color: #000000;
  color: white;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
  background-color: black;
}

.canvasWrapper {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}


/* menu */

.top {
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #16182D;
  color: #fff;
  transition: all .3s ease-in-out;
}

.menuWrapper {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top.show {
  top: 0;
}

.rangeInput {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.labelInput {
  display: flex;
}

.openMenu {
  position: absolute;
  left: 0px;
  bottom: -39px;
  width: 80px;
  height: 40px;
  background-color: #16182D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.openMenu:hover {
  background-color: #23243E;
}

.arrow {
  border: solid #F73164;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

input[type="radio"] {
  margin-left: 20px;
}