.wrapper {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  /* color: white; */
}

.variantAndQuestion {
  display: flex;
  align-items: center;
  padding: 0;
}

.variantAndQuestion li {
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.variant {
  background-color: antiquewhite;
  color: black;
  margin-right: 20px;
  padding: 0.8rem;
  border-radius: 2rem;
  color: black;
  font-weight: 700;
}

.question {
  background-color: rgba(0, 0, 255, 0.616);
  padding: 0.8rem;
  border-radius: 2rem;
  color: white;
  font-weight: 700;

}

.root {
  width: 8rem;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.616);
  padding: 0.4rem 0;
  border-radius: 2rem;
  color: white;
  font-weight: 700;
}

.leaf {
  background-color: darkseagreen;
  padding: 0.9rem;
  border-radius: 2rem;
}

/* todo zero */

ul,
li {
  margin: 0;
  margin-top: 8px;
  padding: 0;
  padding-left: 2rem;
  text-indent: 0;
  list-style-type: none;
}